<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">

  <Appenders>
    <File name="file" fileName="/home/andrew/GeyserLogs/GeyserNIP.log">
      <PatternLayout>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}, %-5p, %c{1}:%L, - %m%n</Pattern>
      </PatternLayout>
    </File>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%-5p %c{1}:%L - %m%n"/>
    </Console>
  </Appenders>
  
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="file" level="DEBUG"/>
      <AppenderRef ref="STDOUT" level="INFO"/>
    </Root>
  </Loggers>
  
</Configuration>